lab-files/*/*/*.toolbox
practice/*/*.toolbox
.*README*
.DS*
.project/
.lab-files/
.practice/



project/model-checker-python/parser/include/.*
project/model-checker-python/parser/include/y.tab.h
project/model-checker-python/parser/include/src/lex.yy.c
project/model-checker-python/parser/include/src/y.tab.c
project/model-checker-python/parser/include/bin/
project/model-checker-python/.venv/
project/model-checker-python/__pycache__/


